* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gradienteTexto: linear-gradient(to right, #4668b1, #3128b4);
  --gradienteCancelar:  linear-gradient(to right, #ff4d4d, #cc0000);
  --gradienteConfirmar: linear-gradient(135deg, #4caf50, #087f23); 
  --colorFondo: #f6f6f6;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--colorFondo);
  color: #000;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  background: var(--gradienteTexto);
  background-clip: text;
  color: transparent;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}